[Unit]
Description=WebApp Service
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/src
ExecStart=/usr/bin/node /opt/csye6225/src/index.js
Restart=always
RestartSec=10
EnvironmentFile=/opt/csye6225/src/.env
StandardOutput=append:/opt/webapp/logs/csye6225.log
StandardError=append:/opt/webapp/logs/csye6225.log
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target